# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*

# Zsh zcalc history
.zcalc_history

# A popular plugin manager's files
._zinit
.zinit_lstupd

# robbyrussell/oh-my-zsh/plugins/per-directory-history plugin's files
# (when set-up to store the history in the local directory)
.directory_history

# Zsh-Auto-Suggestions cache
.zsh_autocomplete_cache

# Zsh-z plugin's files
.z
.z.*

# Zsh-histdb plugin's files
.histdb
.histdb-*

# Terragrunt-specific files
.terragrunt-cache

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Backup files
*~
*.bak

# Temporary files
*.tmp
*.swp
*.swo
